.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  /*  */
  color: white;
  border: 5px solid white;
  background-color: cornflowerblue;
  /*  */
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

/*  */
.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___root img{
  height: 300px;
}
/*  */
